*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#emergency-header {
    text-align: center;
    background-color: #f3f3f3;
    padding: 40px 20px;
    margin-bottom: 40px;
}

#emergency-header h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.emergency-buttons button {
    padding: 10px 20px;
}

#emergency-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

#request-form {
    width: 60%;
}

#request-form input, #request-form textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
}
#form-info {
    width: 35%;
    margin: 40px;
}

#form-info h4 {
    margin-bottom: 10px;
}

#nearby-hospitals {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

#map img {
    width: 100%;
}


#blood-organ-request {
    text-align: center;
    margin: 40px;
}

#req-blood-btn{
    margin-top: 20px;
}

.normal{
    width: 40%;
    color: #ffffff;
    font-weight: 600;
}

.normal:hover{
    cursor: pointer;
    background-color: #088178;
}

.mapouter{
    position: relative;
    text-align: right;
    height: 560px;
    width: 820px;
}

.gmap_canvas{
    overflow: hidden;
    background: none !important;
    height: 560px;
    width: 820px;
}